[submodule "externals/openscop"]
	path = externals/openscop
	url = https://github.com/periscop/openscop.git
[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/taskflow"]
	path = externals/taskflow
	url = https://github.com/taskflow/taskflow.git
